<div class="container margin-top">

<div class="d-flex justify-content-between align-items-center">
  <h1>Featured restaurants</h1>
  <p></p><%= link_to "Add restaurant", new_restaurant_path, :class => 'btn btn-primary'%>
</div>

<div class="restaurants-container">
  <% @restaurants.each do |restaurant| %>
    <div class="restaurant-card d-flex">
      <div class="img-container">
        <%= image_tag "0#{rand(1..9)}.jpg" %>
      </div>
      <div class="card-content p-3 d-flex flex-column justify-content-between">
        <h4><%= restaurant.name %></h4>
        <div class="d-flex justify-content-between align-items-center">
          <p class="tag"><%= restaurant.category %></p>
          <% if restaurant.reviews.any? %>
          <p><i class="fa-solid fa-pen-to-square"></i> <%= restaurant.reviews.count %></p>
        <% end %>
        </div>
        <p class="card-text"><small class="text-muted">
        <%= link_to "Details", restaurant_path(restaurant), class: "btn-small" %></small></p>
      </div>
    </div>
  <% end %>
</div>

</div>
