
<div class="banner margin-top">
  <%= image_tag "0#{rand(1..9)}.jpg"%>
</div>

<div class="container mt-5">
  <%= link_to "Go back to restaurants", restaurants_path, class: "btn-small" %>
  <hr>
  <div class="d-flex align-items-center">
    <h1 class="card-title"><%= @restaurant.name %></h1>
    <% if @restaurant.reviews.any? %>
     <p>Rating: total rating / total reviews</p>
    <% end %>
  </div>
  <p><i class="fa-solid fa-location-dot"></i> <%= @restaurant.address %></p>
  <p class="tag"><%= @restaurant.category %></p>

  <hr class="mt-3">
  <p><%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %></p>
  <% if @restaurant.reviews.any? %>
    <div class="reviews-container">
      <% @restaurant.reviews.each do |review| %>
        <div class="review">
          <p><%= review.content %> - <%= review.created_at %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
